asgiref==3.10.0
certifi==2025.11.12
charset-normalizer==3.4.4
cloudinary==1.44.1
Django==5.2.8
django-cloudinary-storage==0.3.0
django-cors-headers==4.9.0
django-filter==25.2
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
gunicorn==23.0.0
idna==3.11
packaging==25.0
psycopg2-binary==2.9.11
PyJWT==2.10.1
python-decouple==3.8
razorpay==2.0.0
requests==2.32.5
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
# [Unit]
# Description=gunicorn daemon
# After=network.target

# [Service]
# User=ubuntu
# Group=www-data
# WorkingDirectory=/home/ubuntu/Shopease_backend
# ExecStart=/home/ubuntu/Shopease_backend/venv/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/ubuntu/Shopease_backend.sock shopease_backend.wsgi:application

# [Install]
# WantedBy=multi-user.target
server {
    listen 80;
    server_name 3.234.252.228;

    location = /favicon.ico { access_log off; log_not_found off; }
    location /static/ {
        root /home/ubuntu/Shopease_backend;
    }

    location / {
        include proxy_params;
        proxy_pass http://unix:/home/ubuntu/Shopease_backend.sock;
    }
}
sudo ln -s /etc/nginx/sites-available/shopease_backend /etc/nginx/sites-enabled